* {
  box-sizing: border-box;
}

.header-top {
  background-color: #f5502b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 38px;
  width: 100%;
}

.hotline-space {
  border-left: 1px solid #484848;
  border-right: 1px solid #979797;
  height: 12px;
  margin: 0 9px;
  width: 2px;
  vertical-align: -1px;
}

.header-top,
.hotline-header {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  height: 15px;
  line-height: 13px;
  text-transform: uppercase;
}

.header-top .hotline-header span {
  display: inline-block;
}

.header-top {
  border-bottom: 1px solid #afafaf;
}

.header-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  align-items: center;
  background-color: #f5502b;
}

.header-top .hotline-space:last-child {
  display: none;
}

img {
  max-width: 100%;
}

.header-bottom .logo-header {
  width: auto;
}

.header-bottom .logo-header a {
  display: inline-block;
  width: 180px;
  height: 45px;
}

.header-bottom .logo-header #logo-pc {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.header-bottom .search-header {
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.header-bottom form {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #c9c8c9;
}

.header-bottom .search-header #input-search {
  border: none;
  color: #666;
  font-size: 12px;
  font-weight: 400;
  height: 35px;
  padding: 0 10px;
  width: 312px;
  float: left;
  margin-right: 3px;
}

.header-bottom .search-header #btn-search {
  background: #1a3752;
  height: 35px;
  text-align: center;
  width: 80px;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 32px;
  text-decoration: none;
  border-left: 1px solid #fd5a32;
  border: none;
}

.header-bottom .my-cart {
  position: relative;
  width: 170px;
}

.header-bottom .my-cart .title {
  color: #fff;
  float: left;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-bottom .my-cart .info-cart {
  color: #fff;
  float: left;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
}

.header-bottom .my-cart .img_cart {
  background: url(../images/cart.png) no-repeat;
  height: 45px;
  padding-left: 47px;
  position: relative;
  float: left;
  text-decoration: none;
}

.header-bottom .login-cart {
  max-width: 150px;
}

.header-bottom .login-cart .main-login {
  background: url(../images/login.png) 7px 2px no-repeat;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  height: 40px;
  padding-left: 53px;
  text-transform: uppercase;
  vertical-align: middle;
  display: table-cell;
}

.link-login,
.link-register {
  color: #fff;
  display: block;
}
